@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto');
/* base */
*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  min-height: 93vh;
  background-color: black;
  padding-bottom: 70px;
}

/* navbar */
.navbar {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: black;
}
.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  padding-left: 2rem;
  margin-right: 1rem;
  font-size: 1.4rem;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;

}
.navbar-brand:hover{
  color: #6249e3;
}
.navbar-account{
  margin : 0 0.5rem 0 auto ;
}
.navbar-expand .navbar-nav {
  flex-direction: row;
}
.navbar-expand .navbar-nav .dropdown-menu {
  position: absolute;
}



/* card */
.card {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 452px;
}
.card > * {
  width: 100%;
}
@media (min-width: 576px) {
  .card {
    max-width: 500px;
  }
}
@media (min-width: 768px) {
  .card {
    max-width: 500px;
  }
}
@media (min-width: 992px) {
  .card {
    max-width: 680px;
  }
}
@media (min-width: 1200px) {
  .card {
    max-width: 700px;
  }
}
.card-header > *{
  color: white;
  font-size: 1.8rem;
  text-align: center;
}
.card-header2 >* , .card-header3 >*, .card-header4 > *{
  display: inline-block ;
  color: white;
  font-size: 1.8rem;
  margin-left: 1rem;
  margin-bottom: 0.2rem;
}
.card-header2 > a{
  padding-right: 7.5rem;
}
.card-header3 > a{
  padding-right: 4.2rem;
}
.header-desc{
  color: #787878;
  text-align: center;
  font-size: 0.875em;
  line-height: 1.2;
  margin-bottom: 2.5rem;
}
.card-body {
  position: relative;
  flex: 1 1 1;
  padding: 0.5rem 1rem 0rem 1rem;
}
.card-footer {
  padding: 1.5rem 1rem 0.5rem 1rem;
  color: white;
  text-align: center;
}


/* inputs */ 
.form-floating {
  position: relative;
}
.form-floating > .form-control {
  height: 3.2rem;
  line-height: 1.25;
  padding: 1rem 0.75rem;
  border-color: #787878;

}
.form-floating > label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 0.75rem 0.75rem;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  color:#787878;
}
.form-floating > .form-control::placeholder {
  color: transparent;
}
.form-floating > .form-control:focus, .form-floating > .dataTable-input:focus, .form-floating > .form-control:not(:placeholder-shown), .form-floating > .dataTable-input:not(:placeholder-shown) {
  padding-top: 1.625rem;
  padding-bottom: 0.625rem;
}
.form-floating > .form-control:focus ~ label, .form-floating > .dataTable-input:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label {
  opacity: 0.65;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
}
.form-control {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  background-color: black;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
  color: white;
  background-color: black;
  outline: 0;
}
.form-a-button {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 0;
}
.pw-confirm{
  position: absolute;
  left: 91%;
  top: 17px;
  color: #787878;
}
.pw-confirm:hover{
  cursor: pointer;
}
.agree-labels{
  text-align: left;
  margin-bottom: 15px;
  font-size: 14px;
}
.agree-labels > label {
  display: inline-block;
  color: #787878;
  cursor: pointer;
  margin-bottom: 8px;
}
.agree-labels > a{
  padding-left: 2rem;  
}

/* a */
a{
  color: #6c757d;
  font-size: 14px;
}
a:hover {
  color: #787878;
}
.a-gray{
  color: #787878;
  text-decoration: underline;
  font-size: 14px;
}
.a-gray:hover{
  color: white;
}
.a-blue{
  color: #339FE1;
  text-decoration: underline;
  font-size: 14px;
}
.a-blue:hover{
  color: blue;
}
.seemore:hover{
  cursor: pointer;
}

/* buttons */
.buttons{
  display:flex;
  flex-direction: column;
}
.btn {
  height: 40px;
  color: #fff;
  text-align: center;
  font-size: 15px;
  line-height: 28px;
  cursor: pointer;
  margin: 0.5rem 0 0.8rem 0;
  padding: 0.375rem 0.75rem;
  border: none;
  border-radius: 0.25rem;
}
.red-btn{
  background-color: red;
}
.red-btn:hover{
  color: black;
  background-color: rgb(226, 65, 65);
}
.google-btn{
  color: black;
  background-color: white;
}
.google-btn:hover{
  color: white;
  background-color: #f6f7f7c8;
}
#google-logo{
  width: 25px;
  vertical-align: middle;
  margin-right: 2mm;
}


/* footer */ 
.main-footer{
  padding : 1rem 1rem 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  background-color: rgba(248, 249, 250, 1);
}
.small {
  font-size: 0.875em !important;
}
.text-muted {
  color: #6c757d;
}


/* modal */
.modal{
  display: none;
  position: absolute;
  width: 35rem;
  height: 820px;
  background-color: #181818;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content{
  text-align: center;
  padding: 1rem;
}

.modal-close{
  text-align: right;
  padding-right: 0.5rem;
  color: #787878;
}

.modal-close:hover{
  cursor: pointer;
  color : white;
}

.modal-header{
  font-size: 1.8rem;
  margin-top: 0;
}

.modal-body{
  width: 32.5rem;
  height: 615px;
  overflow-y: scroll;
  padding: 0 1.2rem 0 1rem ;
}

.modal-body::-webkit-scrollbar {
  width: 7px; 
}

.modal-body::-webkit-scrollbar-thumb {
  background: gray; /* 스크롤바의 색상 */
  border-radius: 10px;
}

.modal-body::-webkit-scrollbar-track {
  border: 1px solid rgba(120, 120, 120, 0.3);;
  border-radius: 10px;
}

.modal-footer{
  margin-top: 2.2rem;
}


.err_message{
	color:white;
}